__pycache__
.env
webapp/node_modules
webapp/dist
env/
env/*.env
data/
data/*
.python-version
webapp/environment/deployment.json
out/
out/*
.python-version
node_modules/
*.pem
webapp/src/deployment.json
webapp/environment/deployment.json
