__pycache__
.env
webapp/node_modules
webapp/dist
env/
env/*.env
.python-version
webapp/environment/deployment.json
out/
out/*
webapp/environment/deployment.json
webapp/src/deployment.json
.python-version
node_modules/
webapp/node_modules/
webapp/node_modules/*
*.pem
deployment.json
logs/
logs/*
.parcel-cache/
webapp/.parcel-cache/
webapp/.parcel-cache/*
webapp/dist/
webapp/dist/*
webapp/src/env.js
pgdata/
pgdata/*
